@import url('satoshi.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #221d24;
  background-image: url('/src/lib/assets/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 1700px) {
  body {
    background-image: url('/src/lib/assets/bg@2x.png');
  }
}
