@use 'font';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin-left: calc(100vw - 100%);
}

body {
  background-image: url('/src/lib/assets/bg_night_blur.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
