@import url('satoshi.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scrollbar-color: theme('colors.abru.light.10') transparent;
}

body {
  background-color: #221d24;
  background-image: url('/src/lib/assets/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media only screen and (min-width: 1700px) {
  body {
    background-image: url('/src/lib/assets/bg@2x.png');
  }
}

.button {
  @apply transition-colors;
  @apply duration-75;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 12px 24px;
  font-size: 16px;
  line-height: normal;
  font-weight: 700;
  border-radius: 4px;

  text-transform: uppercase;

  color: theme('colors.ash');

  background-color: theme('colors.abru.light.15.DEFAULT');
  &:hover {
    background-color: theme('colors.abru.light.15.hover');
    /* background-color: #37303a;   */
  }

  &--accent {
    background-color: theme('colors.accent.DEFAULT');
    &:hover {
      background-color: theme('colors.accent.hover');
    }
  }
}
